.GoalForm.container {
    height: 240px;
    width: 500px;
}

.GoalForm textarea {
    outline: none;
    resize: none;
    overflow: auto;
    width: 350px;
    margin-top: 10px;
    padding: 5px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #b5b5b5;
}

.GoalForm p {
    text-align: center;
}